:root {
	/* color-scheme: light dark; */
	--first-color: #155263;
	--second-color: #ff6f3c;
	--third-color: #ff9a3c;
	--fourth-color: #ffc93c;
}

body {
    color: var(--first-color);
    background-color: var(--first-color);
}

h1 {
    color: var(--second-color);
    margin-left: 8px;
}

h2 {
    color: var(--third-color);
}

h3 {
    color: var(--fourth-color);
}

.header {
    grid-area: headerLeft / span 3;
    border-bottom: 6px solid #ff6f3c;
    border-radius: 5px;
}

.spieleintrag {
    grid-area: headerLeft / span 1;
    border-bottom: 6px solid #ff6f3c;
    border-radius: 5px;
}

.spieleintragAbbrechen {
    grid-area: headerMiddle / span 1;
    border-bottom: 6px solid #ff6f3c;
    border-radius: 5px;
    margin: auto;
}

.rangliste {
    grid-area: leftSide;
}

.spieltag {
    grid-area: rightSide;
}

.spieler {
    grid-area: leftSide;
}

.punkte {
    grid-area: middle;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'headerLeft headerMiddle headerRight'
        'leftSide middle rightSide'
        'footer footer footer';
}

@media only screen and (max-width: 600px) {
    .header {grid-area: 1 / span 6;}
    .rangliste {grid-area: 2 / span 6;}
    .spieltag {grid-area: 3 / span 6;}
}