:root {
	/* color-scheme: light dark; */
	--first-color: #155263;
	--second-color: #ff6f3c;
	--third-color: #ff9a3c;
	--fourth-color: #ffc93c;
}

body {
    color: var(--first-color);
    background-color: var(--first-color);
}

h1 {
    color: var(--second-color);
    margin-left: 8px;
}

h2 {
    color: var(--third-color);
}

h3 {
    color: var(--fourth-color);
}

.header {
    grid-area: header;
    border-bottom: 6px solid #ff6f3c;
    border-radius: 5px;
}

.rangliste {
    grid-area: leftSide;
}

.spieltag {
    grid-area: rightSide;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'leftSide rightSide'
        'footer footer';
}

@media only screen and (max-width: 600px) {
    .header {grid-area: 1 / span 6;}
    .rangliste {grid-area: 2 / span 6;}
    .spieltag {grid-area: 3 / span 6;}
}